*{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

header{
    background-color: black;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem
}

nav{
    display: flex;
    justify-content: space-between;
}

nav a, footer div a{
    color: white;
    text-decoration: none;
    margin: 5px

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;

}

h2{
    color: #FC200C;
    display: flex;
    justify-content: center;
}


span{
    color: white;
    margin: 0 5px;
}


.delivery{
    display: flex;
    justify-content: flex-start;
    background-image: url(../img/delivery.jpg);
    border-radius: 5px;
    width: 490px;
    height: 350px;    
}

.podio{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 491px;
    height: 350px;

}

.podioLista{
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.top5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pizzaFalling{
    display: flex;
    justify-content: center;
    align-items: center;
}


.info{
    display: flex;
    flex-direction: column;
}


footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 1rem
}